.team-page{
  background: url("https://i.pinimg.com/originals/6c/2a/8e/6c2a8ea0cd5299273da85ed8faf0ec17.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
   -o-background-size: cover;
  background-size: cover;
  background-image: repeat;
}
.title-sponser{
  font-size: 100px;
  color: black;
}
@media (max-width: 800px)
{
  .title-sponser{
  font-size: 50px;
  }
}